.logo{
    width: 121px;
    font-size: 26px;
    color: #fff;
    margin-top: 24px;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-text-bold{
    font-weight: bold;
}
.logo.logo-colored{
    color:#0AAEE4;
}