.move-img{
    width: 270px;
    height: 230px;
}
.move-list-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.move-short-info{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 22px;
}
.move-name{
    text-transform: uppercase;
    margin: 0;
}
.move-rating{
    color: #47C3F0;
    border: 1px solid #47C3F0;
    border-radius: 5px;
    padding: 0px 7px 0px 7px;
    margin-right: 22px;
}
.move-category{
    color: #47C3F0;
    text-decoration: none;
    padding: 5px;
    padding-left: 0px;
}
.move{
    margin-top: 10px;
    padding-bottom: 20px;
    margin-left: 22px;
}
.move-card{
    background-color: #fff;
}
.main-container{
    background-color: #F5F6F6;
}
.move-list-section{
    padding-top: 1px;
}