.footer-menu-item{
    list-style-type: none;
    text-decoration: none;
    margin-right: 10px;
}
.footer-menu{
    display: flex;
}
.footer-menu-link{
    text-decoration: none;
    color: #242B2D;
}