.footer-row{
    display: flex;
    justify-content: space-between;
}
.socialIcons{
    padding-top: 20px;
}
.footer-menu{
    padding-left: 12px;
    padding-top: 12px;
}
.footer-r{
    justify-content: space-around;
    display: flex;
    padding-top: 15px;
    margin-left: 40px;
}