.film-long-info{
padding-top: 500px;
}
.text-h2{
    color: #fff;
}
.genre{
    color: #fff;
    display: flex;
    list-style-type: none;
    padding: 0;
}
.genre-dew{
    margin-left: 5px;
}
.star{
    color: #0AAEE4;
}
.star-dew{
    margin-left: 5px;
}
.header-footer{
    display: flex;
    justify-content: space-between;
}