.banner-image{
    width: 100%;
    background-size: cover;
    height: 400px;
    position: relative;
}
.banner-image-second{
    position: absolute;
    width: 100%;
    height: 400px;
}
.banner-container{
    margin-top: 170px;
}
.banner-text{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
}
.banner-button{
    text-align: center;
}