.navbar{
    position: absolute;
    width: 100%;
}
.navbar-row{
    display: flex;
    justify-content: space-between;
}
.fas{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: white;
}
.serch{
    margin-top: 33px;
    margin-left: 855px;
}